<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Mi Emprendimiento </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti natus ipsam quaerat sit error velit neque deserunt laborum sequi dignissimos accusamus, voluptatem corporis facere non voluptates illo qui itaque at.</p>

        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Ingles.png" class="img-fluid, img-proyecto">

            

            

        </div>
    </div>






</div>
